	<style>
		
		.activeDroppable {
			background-color: #eeffee;
		}

		.hoverDroppable {
			background-color: lightgreen;
		}

		.draggableField {
			/* float: left; */
			padding-left:5px;
		}
		
		.draggableField > input,select, button, .checkboxgroup, .selectmultiple, .radiogroup {
			margin-top: 10px;
			margin-right: 10px;
			margin-bottom: 10px;
		}

		.draggableField:hover{
			background-color: #ccffcc;
		}
	</style>
	
	<style id="content-styles">
		/* Styles that are also copied for Preview */


		body {
			margin: 10px 0 0 10px;
			background-color: lightgreen;
		}

		.tabbable {
			margin: 10px 0 0 10px;
		}
		
		#listOfFields{
			margin: 0px 0 0 10px;
			width: 20%;
		}

		.dependent-qn {
			margin: 5px 10px 0 10px; /*top,right,bottom,left*/
		}

		.form-intro{
			margin: 10px 0 0 10px;
			width: 92%;
		}

		.form-other{
			margin: 10px 0 0 10px;
			width: 92%;
		}

		.form-content{
			margin: 10px 0 0 10px;
			width: 92%;
		}
		
		#selected-content{
			margin: 0 0 0 10px;
			width: auto;
		}

		#remove-btn {
			margin: 10px 0 0 10px;
		}

		#add-subquestion-btn {
			margin: 10px 0 0 10px;
		}

		#edit-btn {
			margin: 10px 0 0 10px;
		}

		#add-option-btn {
			margin: 10px 0 0 10px;
		}

		.dialog {
			display: none;
		}

		.input-small {
			margin: 5px 0 0 5px;
		}

		.score {
			margin: 5px 0 0 5px;
		}

		.input-medium {
			margin: 5px 0 0 5px;
		}

		.input-large {
			width: 350px;
		}

		.control-label {
			display: inline-block !important;
			padding-top: 5px;
			text-align: right;
			vertical-align: baseline;
			padding-right: 10px;
		}
		
		/*.droppedField {
			padding-left:5px;
		}*/

		.droppedField > input,select, button, .checkboxgroup, .selectmultiple, .radiogroup {
			margin-top: 10px;
			margin-right: 10px;
			margin-bottom: 10px;
		}

		.action-bar .droppedField {
			float: left;
			padding-left:5px;
		}

		.droppedField {
			width: 100%
		}


		ul{
     		list-style:none;
		}

		#selected_action_column li{
			list-style:none;
		}

	</style>